body {
    background-image: url("../images/wall.jpg");
}

#paintings_area{
    height: 30vw;

    /*background-color: red;*/

    margin-top: 20vw;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* If you have row this affects the row
    Flex-start
    Flex-end
    space-between
    Space-around */
    
    align-items: stretch;
    /* ... if you have row then this affects columns
    flex-start
    flex-end
    center 
    stretch
    baseline */
}

.row{
    flex: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small{
    width: 75%;
    padding: 2%;
    border: 1vw outset lightgoldenrodyellow;
    margin: 0px;
}

.green{
   background-color: green;
}

.red{
   background-color: red;
}

.blue{
    background-color: blue;
}

.purple{
    background-color: purple;
}

.turquoise{
    background-color: turquoise;
}

.pink{
    background-color: pink;
}